{% extends 'base.html' %}

{% block title %} Add Shop Item {% endblock %}

{% block body %}
<h2 class="text-white bg-dark p-2 text-center rounded">
    Add New Product 
    <a href="/admin-page" class="btn btn-primary btn-sm float-end">Go Back</a>
</h2>

<!-- Add Product Form -->
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th> </th>
                    <th scope="col">Input</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="product_name">Product Name</label></td>
                    <td>:</td>
                    <td>{{ form.product_name(class="form-control", placeholder="Enter product name") }}</td>
                </tr>

                <tr>
                    <td><label for="previous_price">Previous Price</label></td>
                    <td>:</td>
                    <td>{{ form.previous_price(class="form-control", placeholder="Enter previous price") }}</td>
                </tr>

                <tr>
                    <td><label for="current_price">Current Price</label></td>
                    <td>:</td>
                    <td>{{ form.current_price(class="form-control", placeholder="Enter current price") }}</td>
                </tr>

                <tr>
                    <td><label for="in_stock">In Stock</label></td>
                    <td>:</td>
                    <td>{{ form.in_stock(class="form-control", placeholder="Enter stock quantity") }}</td>
                </tr>

                <tr>
                    <td><label for="product_picture">Product Picture</label></td>
                    <td>:</td>
                    <td>{{ form.product_picture(class="form-control-file") }}</td>
                </tr>

                <tr>
                    <td><label for="flash_sale">Flash Sale</label></td>
                    <td>:</td>
                    <td>{{ form.flash_sale(class="form-check-input") }}</td>
                </tr>

                <tr>
                    <td><label for="category_id">Category</label></td>
                    <td>:</td>
                    <td>{{ form.category_id(class="form-control") }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
</form>

{% endblock %}
